@charset "utf-8";
* { margin: 1px; padding: 0px; }

html {font-size: 12px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
	font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que do Google Fonts */
    background-color: white; 
}
nav#news {
    background-color: rgba(0, 0, 0, 0.700);
}
nav#cabe a{
    color:white;
    text-decoration:none;
    padding: 0px;
}
nav#cabe a:hover{
    color:blanchedalmond;
}
#divBusca{
    background-color:white;
    border:solid 1px;
    border-radius:15px;
    width:600px;
    padding: 10px;
    margin-right: 300px;
    margin-top: 10px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
  .div-slider{
    width: auto;
    height: 400px;
    text-align: center;
    }
    .slides-front {
        padding: 0;
        width: 800px;
        height: 370px;
        display: block;
        margin: auto;
        position: relative;
    }
    
    .slides-front * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    
    .slides-front input { display: none; }
    
    .slide-container { display: block; }
    
    .slide {
        top: 0;
        opacity: 0;
        width: 800px;
        height: 370px;
        display: block;
        position: absolute;
    
        transform: scale(0);
    
        transition: all .7s ease-in-out 0.1s;
    }
    
    .slide img {
        width: 100%;
        height: 100%;
    }
    
    .nav label {
        width: 150px;
        height: 100%;
        display: none;
        position: absolute;
        opacity: 0;
        z-index: 9;
        cursor: pointer;
        transition: opacity .2s;
        color: #FFF;
        font-size: 156pt;
        text-align: center;
        line-height: 380px;
        font-family: "Varela Round", sans-serif;
        background-color: rgba(255, 255, 255, .3);
        text-shadow: 0px 0px 15px rgb(119, 119, 119);
    }
    
    .slide:hover + .nav label { opacity: 0.5; }
    
    .nav label:hover { opacity: 1; }
    
    .nav .next { right: 0; }
    
    input:checked + .slide-container  .slide {
        opacity: 1;
    
        transform: scale(1);
    
        transition: opacity 1s ease-in-out 0.1s;
    }
    
    input:checked + .slide-container .nav label { display: block; }
    
    .nav-dots {
        width: 100%;
        bottom: 9px;
        height: 11px;
        display: block;
        position: relative;
        text-align: center;
    }
    
    .nav-dots .nav-dot {
        top: 375px;
        width: 11px;
        height: 11px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
    }
    
    .nav-dots .nav-dot:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.8);
    }
    input#img-1:checked ~ .nav-dots label#img-dot-1,
    input#img-2:checked ~ .nav-dots label#img-dot-2,
    input#img-3:checked ~ .nav-dots label#img-dot-3, {
        background: rgba(0, 0, 0, 0.8);
    }

    .tempos {
        text-align: center;
        display: flex;
        height: 20px;   
        background-color: yellow;

    }

    .holder {
        display: flex;
        justify-content: left;
    }
    .imagem {
      padding: 5px;
      width: 250px;
      margin: 5px;
      position: relative;
      text-align: center;
    }
    .imagem::after {
      content: attr(data-title); /* estilo que coloco a legenda no lugar */
      position: absolute;
      width: 100%;
      bottom: -20px;
      left: 0;
    }
    h1{
        color:#FFF
    }
    .conteudo{
        text-align: center;
        font-size: 15px;
        padding: 0pt;
        margin: 0pt;
        background-color: rgba(0, 0, 0, 0.700);
           }
    ul li{
        display: inline-block;
        margin-left: 23pt;
    }
    footer{
        color: blanchedalmond;
        background-color: black;
    }
    .formulario{
        width: 400px;
        padding: 30px;
        border:1px solid #ccc;
    }
    .formulario p{
        width: 100%;
        font-size: 1.5em;
    }
    .field{
        width: 100%;
        margin: 15px 0;
    }
    .field label, 
    .field span{
        padding-left: 10px;
        font-size: 1.1em;
        display: block;
        width: 100%;
    }
    .radiobox label{
        width: auto;
        display: inline-block;
    }
    input[type=text],
    input[type=email],
    textarea{
        width: 100%;
        padding-left: 10px;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        border: 1px solid #ccc;
        outline: none;
    }
    input#nao{
        margin-left: 30px;
    }
    textarea{
        line-height: 20px;
        padding: 10px;
        height: 90px;
        resize: none;
    }
    input[type=submit]{
        display: block;
        background-color: #ccc;
        height: 35px;
        border: none;
        outline: 0;
        cursor: pointer;
        width: 100px;
        margin: 0 auto;
        text-align: center;
        border-radius: 15px;
    }
    .fundo-secundario, 
    .fundo-secundario,
    .fundo-secundario :hover,
    .fundo-secundario:hover, 
    .fundo-secundario.botao:hover {color: #fff;}
    .canais-contato.span9 {position: absolute;}
    i.fa.fa-truck {
         margin-right: 10px;
         font-size: 13px
        }
    .rastreio-content {
        position: absolute;background: rgb(255, 255, 255);
        z-index: 999;
        padding: 10px;
        text-align: center;
        border-radius:0px;
        border: 1px solid rgba(228, 228, 228, 0.59);
        display: none;
        box-shadow: 0 7px 15px rgba(0, 0, 0, 0.07);
        margin-top: 7px;
    }
    .rastreio-btn {
        cursor: pointer;background: rgba(255, 255, 255, 0);
        width:150px; 
        height:31px ;
        width: auto!important;
    }
    .rastreio-topo{margin-top: 5px; color:#ffffff;
        text-align: center;
        width:140px;
        font-weight: 700;
        height:24px;
        font-size:10.4px;
        text-transform:uppercase;
        margin-left: -2px;
        top: 7px;position:relative;
    }
    .rastreio-topo:hover {
        color:#ffffff; 
        text-align: center;
        width:140px; 
        height:24px;
        font-size:10.4px; 
        text-transform:uppercase; 
        margin-left: -2px; top: 7px; 
        text-decoration: underline;
        position: relative;
     }
    .rastreio-topo i,
    .atd-inicial i { 
        font-size:14px;
        color: #ffffff;
        margin-right: 6px;
     }
    .rastreio-topo i:hover,
    .atd-inicial i:hover { 
        font-size:14px;
        color: #ffffff;
        margin-right: 6px;
     }
     .rastreio-content p {
         font-size: 10.7px;
         font-weight: 500;
         text-transform: uppercase;
         letter-spacing: 1px;
         color: #717171;
        }
    .rastreio-content h1 {
        font-size: 32px;
        color: #000;
    }
    #OrderTracking {
        width: 160px;
        border: 0;
        box-shadow: none;
        background-color: rgba(245, 245, 245, 0); 
        box-shadow: inset 0px 0px 0px 1px rgb(204, 204, 204) !important; 
        border-radius:0px;
    }
    .rastreio {
        background: #ea1725;
        margin-top: -10px;
        padding: 3px 5px 5px 5px;
        border-radius: 3px;
        font-family: ‘Open Sans’;
        font-size: 11px;
        border-radius: 0px;
        margin-left: 5px;
        color: #fff;
        font-weight: 500;
    }
    .rastreio:hover {
        background: #c1131f;
        color: #ffffff !important;}